<footer>
  <div class="footer-copy">
    © 2025 Heleen Evers. All rights reserved. |
    <a href="privacy.html">Privacy Notice</a> -
    <a href="attributions.html">Attributions</a>
  </div>
  <div class="footer-social">
    <a
      href="https://linkedin.com/in/heleenevers/"
      target="_blank"
      title="LinkedIn"
    >
      <i class="ri-linkedin-fill"></i>
    </a>
    <a href="https://youtube.com/@Heleendje" target="_blank" title="YouTube">
      <i class="ri-youtube-fill"></i>
    </a>
    <a href="https://vimeo.com/heleenevers" target="_blank" title="Vimeo">
      <i class="ri-vimeo-fill"></i>
    </a>
    <a href="https://github.com/HelEvX" target="_blank" title="GitHub">
      <i class="ri-github-fill"></i>
    </a>
    <a
      href="https://www.behance.net/heleenevers-PXL"
      target="_blank"
      title="Behance"
    >
      <i class="ri-behance-fill"></i>
    </a>
    <a
      href="https://www.instagram.com/helsteendje/"
      target="_blank"
      title="Instagram"
    >
      <i class="ri-instagram-fill"></i>
    </a>
  </div>
</footer>
