/* Wrapper Background */
.section.started.blog-cover {
  background-size: 100vw 75vh;
  background-position: top;
  background-repeat: no-repeat;
}

/* Blog post cover art list */
.anxious-boardgame-cover {
  background-image: url("/assets/img/blog/anxious-boardgame.png");
}

/* Blog Cover */
.blog-cover .started-content {
  background-color: var(--color-white);
  opacity: 0.85;
  padding: 20px 60px;
  border-radius: 4px;
  border-bottom: solid 3px var(--color-primary);
  border-left: solid 2px var(--color-primary);
  box-shadow: inset -1px 2px 0 var(--color-light-text);
  -moz-box-shadow: inset -1px 2px 0 var(--color-light-text);
  -webkit-box-shadow: inset -1px 2px 0 var(--color-light-text);
  -khtml-box-shadow: inset -1px 2px 0 var(--color-light-text);
}

.blog_title {
  font-size: 50px;
  font-weight: var(--font-weight-medium);
  text-transform: none;
}

.date {
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 18px;
  font-weight: 500;
  font-size: 11px;
  color: var(--color-primary);
  font-family: var(--font-sans);
  letter-spacing: 0.1em;
  border: 1px solid var(--color-primary);
}

/* Sections */
.blog-post section {
  margin-bottom: 60px;
}

.blog-post h2 {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: var(--font-weight-light);
  box-shadow: inset 0 -8px 0px var(--color-secondary);
  -moz-box-shadow: inset 0 -8px 0px var(--color-secondary);
  -webkit-box-shadow: inset 0 -8px 0px var(--color-secondary);
  -khtml-box-shadow: inset 0 -8px 0px var(--color-secondary);
}

.blog-post p {
  font-family: var(--font-sans);
  font-size: 14px;
}

/* Link Styles */
section a {
  color: var(--color-primary);
  letter-spacing: normal;
}
section a:hover {
  text-decoration: underline;
}

/* Table */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.project-table td {
  padding: 0.8em 1.25em 0 0;
  width: auto;
  background: var(--color-white);
  color: var(--color-light-text);
  font-weight: var(--font-weight-light);
}
.project-table tr:first-child td,
.project-label {
  background: var(--color-white);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-medium);
  font-size: 11px;
  text-align: left;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.project-table tr:first-child td {
  padding: 0 1.25em 0.8em 0;
  border-bottom: 1px solid var(--color-bg-light);
}

.project-table-mobile {
  display: none;
}

@media (max-width: 600px) {
  table.project-table {
    display: none;
  }
  .project-table-mobile {
    display: block;
  }
  .project-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.8em 0;
    border-bottom: 1px solid var(--color-bg-light);
    gap: 40px;
  }
  .project-label {
    font-weight: 500;
    color: var(--color-text);
    margin-right: 1em;
    flex-shrink: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  .project-cell {
    color: var(--color-light-text);
    font-weight: var(--font-weight-light);
    text-align: right;
    line-height: 1.4em;
  }
}

/* Quotes */
.blog-post blockquote {
  margin: 25px 0;
  padding: 0 20px;
  background: var(--color-bg-light);
  /* font-size: 14px; */
  line-height: 21px;
  /* font-family: var(--font-sans); */
  font-style: italic;
  letter-spacing: 0.08em;
  color: var(--color-light-text);
  font-weight: var(--font-weight-light);
  border-left: 2px solid var(--color-primary);
}

.blog-post blockquote code {
  padding: 2px;
  display: inline;
}

.blog-post iframe,
.blog-post object {
  max-width: 100%;
}

/* lists */
.blog-post ul li,
.blog-post ol li {
  font-family: var(--font-sans);
  font-size: 14px;
  margin: 5px 0;
  padding: 0 0 0 18px;
  position: relative;
}

.blog-post ol {
  list-style-position: inside;
}

.blog-post ol > li {
  margin: 5px 0;
  padding: 0;
  position: relative;
}

.blog-post ul {
  list-style: none;
}

.blog-post ul li::before {
  margin: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 4px;
  background: #f26b38;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Images */
.post-image {
  margin: 0 0 25px 0;
  font-size: 0;
}

.post-image img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 0 30px 0;
  max-width: 100%;
}

/* Bottom Section */
.post-text-bottom {
  padding: 25px 0 10px 0;
}
.post-text-bottom .share-btn {
  position: relative;
  display: inline-block;
  top: 1px;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 16px;
}
.post-text-bottom > div,
.post-text-bottom > .social-share {
  margin-right: 30px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
}
.post-text-bottom > .cat-links,
.post-text-bottom > .byline,
.post-text-bottom > .social-share {
  font-size: 12px;
  color: #999;
}
.post-text-bottom .cat-links a {
  color: #f26b38;
}
.post-text-bottom .cat-links a:hover {
  text-decoration: underline;
}
.post-text-bottom .tags-links {
  display: block;
  line-height: 18px;
  font-size: 0px;
  font-family: var(--font-sans);
  letter-spacing: 0.1em;
}
.post-text-bottom .tags-links span {
  display: inline-block;
  font-size: 12px;
  color: #999;
  margin-right: 10px;
}
.post-text-bottom .tags-links a {
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 18px;
  font-weight: 500;
  font-size: 11px;
  color: #f26b38;
  border: 1px solid #f26b38;
}
.post-text-bottom .author {
  color: #363636;
}

/* Post navigation arrows */

.post-navigation {
  color: #999;
  text-align: center;
}

.post-navigation .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
}

.post-navigation a,
.post-navigation span.disabled {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #aca3a3;
  line-height: 20px;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
  display: flex;
  align-items: center;
  gap: 6px;
}

.post-navigation a:hover {
  opacity: 1;
  color: #333;
}

.post-navigation .disabled {
  opacity: 0.3;
  letter-spacing: 0.1em;
  cursor: default;
  pointer-events: none;
  user-select: none;
}

/* Optionally size icons */
.post-navigation i {
  font-size: 18px;
  line-height: 1;
}

/* Comments Section*/
.post-comments {
  margin-top: 60px;
}
